# python
__pycache__/

# local bookmarks
**/gtk/.config/gtk-3.0/bookmarks

# cloned repos
**/zsh/.zsh/.oh-my-zsh
**/ranger/.config/ranger/plugins

# log files
**/btop/.config/btop/btop.log
**/mpv/.config/mpv/mpvHistory.log
