[submodule ".dotfiles-private"]
	path = .dotfiles-private
	url = git@github.com:jhwshin/.dotfiles-private
[submodule "common/nvim/.config/nvim"]
	path = common/nvim/.config/nvim
	url = git@github.com:jhwshin/my-nvim
